<!DOCTYPE HTML>
<html lang="ru">
<head>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0, user-scalable=yes"/>
     <title>index</title>

     
     <link media="all" rel="stylesheet" type="text/css" href="css/libs.min.css" />
     <link media="all" rel="stylesheet" type="text/css" href="css/styles.css" />
     
     
</head>
<body class="pageHome">
     
     
   <div class="total-container">                
 
       
        <!-- .header -->
        <div class="header">
        
             <div class="container-fluid">
             
                  <div class="col-lg-12 col-md-12">
                       
                       <div class="logo"><a href="javascript:void(0)"><img src="img/logo.png" alt="logo" /></a></div>
                       
                  </div>
          
             </div>
             
        </div>
        <!-- END .header --> 
        
        
        
        
        <!-- .main-banner -->
        <div class="main-banner">
             
             <div class="main-banner__fon">
                  <a href="javascript:void(0)"><img src="pic/baner.jpg" alt="logo" /></a>
             </div>
             
             <div class="container-fluid">
             
                  <span class="main-banner__text">text banner</span>
             
             </div>
             
        </div>
        <!-- END .main-banner -->
        
        
        
        
        <!-- .product -->
        <div class="product">
        
             <div class="container-fluid">

                 
                  <div class="col-lg-3 col-md-3 col-lg-push-9 col-md-push-9">

                       <!-- .cartBlock -->
                       <div class="cartBlock">
                            <div class="cartBlock__title"><span>Корзина</span><b></b></div>
                            <div class="cartBlock__cont">

                                 <div class="cartBlock__list scrollbar-program">
                                      <ul>
                                           <li>Борей СК Борей СК Борей СК Борей СК</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Атрикс КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Зелор КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Борей СК</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Атрикс КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Зелор КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Борей СК</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Атрикс КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                      <ul>
                                           <li>Зелор КЭ</li>
                                           <li>250 $</li>
                                           <li><div class="btn btn-cartClose"></div></li>
                                      </ul>

                                 </div>

                                 <ul class="cartBlock__listTotal">
                                      <li>Итого</li>
                                      <li>750 $</li>
                                 </ul>

                                 <div class="cartBlock__button">
                                      <a class="btn btn-cart" href="javascript:void(0)">ПЕРЕЙТИ В КОРЗИНУ</a>
                                 </div>

                            </div>
                       </div>
                       <!-- END .cartBlock -->



                       <!-- .filters -->
                       <div class="filters">

                            <span class="filters__title">Фильты</span>

                            <div class="filters__cont">

                                 <div class="filters__box">
                                      <span>ДЕЙСТВУЮЩИЕ ВЕЩЕСТВА</span>
                                      <ul>
                                           <li><span>2,4-Д</span><b>12</b></li>
                                           <li><span>Bacillus Thuringiensis</span><b>12</b></li>
                                           <li><span>Bacillus Thuringiensis</span><b>18</b></li>
                                           <li><span>Bacillus Thuringiensis</span><b>34</b></li>
                                      </ul>
                                 </div> 

                                 <div class="filters__box">
                                      <span>КАТЕГОРИИ ТОВАРОВ</span>
                                      <ul>
                                           <li><span>Инсектициды и Акарициды</span><b>12</b></li>
                                           <li><span>Препараты специального назначения</span><b>7</b></li>
                                           <li><span>Гербициды</span><b>10</b></li>
                                           <li><span>Поверхностно-активные вещества</span><b>2</b></li>
                                      </ul>
                                 </div>   

                                 <div class="filters__box">
                                      <span>ФОРМУЛЯЦИЯ</span>
                                      <ul>
                                           <li><span>Гранулы</span><b>12</b></li>
                                           <li><span>Порошок</span><b>7</b></li>
                                           <li><span>Жидкость</span><b>12</b></li>
                                      </ul>
                                 </div>   

                            </div> 

                       </div>
                       <!-- END .filters -->

                  </div>
                  
                  
                  
                  <div class="col-lg-9 col-md-9 col-lg-pull-3 col-md-pull-3">
                  
                      
                       <!-- .tabHeader -->
                       <div class="tabHeader">
                          
                           <div class="tabHeader__cont"> 
                               
                                <table class="tabHeader__table" border="0">
                                     <tr class="tabHeader__txt">
                                          <td rowspan="2">
                                               <div class="tabHeader__logo"><a href="javascript:void(0)"><img src="img/logo.png" alt="logo" /></a></div>
                                               <span class="tabHeader__title">Наименование</span>
                                          </td>
                                          <td rowspan="2"><span>Объём в наличии</span></td>
                                          <td colspan="3"><span>Условия оплаты</span></td>
                                     </tr>
                                     <tr class="tabHeader__val">
                                          <td><span>100%</span></td>
                                          <td><span>40/60%</span></td>
                                          <td><span>30/70%</span></td>
                                     </tr>
                                </table>
                                
                           </div>
                           
                       </div>
                       <!-- END .tabHeader -->
                       
                       
                       <table class="table table--color-1">
                            <thead>
                                 <tr>
                                      <td colspan="5"><b>Л</b><span>ЛАКТАТ ХИТОЗАНА</span></td>
                                 </tr>
                            </thead>
                            <tbody data-toggle="modal" data-target="#product" data-whatever="reg">
                                 <tr>
                                      <td>Атрикс КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Атрикс КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Атрикс КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Атрикс КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                            </tbody>
                       </table>
                       
                       
                       <table class="table table--color-2">
                            <thead>
                                 <tr>
                                      <td colspan="5"><b>Ф</b><span>Флокумафен</span></td>
                                 </tr>
                            </thead>
                            <tbody data-toggle="modal" data-target="#product" data-whatever="reg">
                                 <tr>
                                      <td>Зелор КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Бактериальное удобрение марки Азотовит Форте, в полном наличии.</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Зелор КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td class="noPrice"></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Зелор КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Зелор КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                            </tbody>
                       </table>
                       
                       
                       <table class="table table--color-3">
                            <thead>
                                 <tr>
                                      <td colspan="5"><b>А</b><span>Ацетамиприд</span></td>
                                 </tr>
                            </thead>
                            <tbody data-toggle="modal" data-target="#product" data-whatever="reg">
                                 <tr>
                                      <td>Газель РП</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>ХайКоут Супер Соя + ХайКоут Супер Экстендер Супер Соя + ХайКоут</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td class="noPrice"></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Газель РП</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Газель РП</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                            </tbody>
                       </table>
                       
                       
                       <table class="table table--color-4">
                            <thead>
                                 <tr>
                                      <td colspan="5"><b>С</b><span>2,4-Д (сложный 2-этилгексиловый эфир)</span></td>
                                 </tr>
                            </thead>
                            <tbody data-toggle="modal" data-target="#product" data-whatever="reg">
                                 <tr>
                                      <td>Астэрикс СЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>Аврорекс КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                                 <tr>
                                      <td>2,4-Дактив КЭ</td>
                                      <td>543 л</td>
                                      <td>10 200 <span class="rub">7</span></td>
                                      <td>10 350 <span class="rub">7</span></td>
                                      <td>10 420 <span class="rub">7</span></td>
                                 </tr>
                            </tbody>
                       </table>
                  
                  </div>
                  
             </div>
        
        </div>
        <!-- END .product -->


       
        
        
        <div class="hFooter"></div>

   </div>         
     
                     
     
     
   <!-- .footer -->    
   <footer class="footer">
      
        <div class="container-fluid">
        
             <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-9 col-md-push-9 col-sm-push-9">

                  <ul class="social-network">
                       <li><a class="net-fb" href="javascript:void(0)"></a></li>
                       <li><a class="net-in" href="javascript:void(0)"></a></li>
                       <li><a class="net-vk" href="javascript:void(0)"></a></li>
                       <li><a class="net-tw" href="javascript:void(0)"></a></li>
                  </ul>

                  <ul class="card-payment">
                       <li><a class="card-visa" href="javascript:void(0)"></a></li>
                       <li><a class="card-masterCard" href="javascript:void(0)"></a></li>
                       <li><a class="card-payPal" href="javascript:void(0)"></a></li>
                  </ul>

             </div>

             <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-3 col-md-push-3 col-sm-push-3">

                  <ul class="footer-phone">
                       <li><a href="javascript:void(0)">8 800 451 01 02</a></li>
                       <li><a href="javascript:void(0)">8 495 120 02 03</a></li>
                  </ul>

                  <span class="btn btn-backCall">обратный звонок</span>

             </div>

             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-pull-6 col-md-pull-6 col-sm-pull-6">

                  <h3>Адрес</h3>
                  <ul class="footer-address">
                       <li>Россия, Краснодар ул. Ставропольская 179/1; офис 4</li>
                       <li>2017 © «ООО Торбор-Агро» <span>Все права защищены</span></li>
                  </ul>

             </div>
             
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-pull-6 col-md-pull-6 col-sm-pull-6">

                  <h3>Информация</h3>
                  <ul class="footer-menu">
                       <li><a href="javascript:void(0)">Поиск</a></li>
                       <li><a href="javascript:void(0)">Товары</a></li>
                       <li><a href="javascript:void(0)">Доставка</a></li>
                       <li><a href="javascript:void(0)">Написать нам</a></li>
                       <li><a href="javascript:void(0)">О нас</a></li>
                  </ul>

             </div>
             
        </div>
       
   </footer>     
   <!-- END .footer -->    
       
                                                      
       
               
   <!-- .modal -->                                                                       
    <div class="modal fade" id="product" tabindex="-1" role="dialog">

        <div class="modal-dialog" role="document">

             <div class="modal-content">

                  <div class="modal-header">
                       <span class="modal-header__title">Атрикс КЭ</span>
                       <div class="btn btn-cartClose" data-dismiss="modal" aria-label="Close"></div>
                  </div>

                  <div class="modal-body">   

                       <div class="modal-inform">

                            <div class="modal-inform__cont">
                            
                                 <div class="modal-inform__box">

                                      <ul class="modal-inform__list">
                                           <li><b>Категория:</b>Лактат хитозана</li>
                                           <li><b>Действующее вещество:</b>Лактат хитозана</li>
                                           <li><b>Упаковка:</b>Лактат хитозана</li>
                                           <li><b>Концентрация:</b>3554</li>
                                           <li><b>Класс опасности:</b>3/1</li>
                                      </ul>
                                      
                                 </div>
                                 
                                 <div class="modal-inform__box">
                                     
                                      <img class="modal-inform__img" src="img/drug.png" alt="img" />
                                      
                                 </div>
                                 
                            </div>
                            
                            <span class="modal-inform__comment"><b>Комментарий:</b>С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации 
                            соответствующий условий активизации. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) 
                            участие в формировании соответствующий.</span>

                       </div>
                       
                       <div class="modal-step">
                       
                            <div class="modal-step__box">

                                 <div class="stepTitle"><b>1</b><span>Выберите условие оплаты:</span></div>
                         
                                
                                 <!-- .conditions -->
                                 <div class="conditions">
                                     
                                      <div class="conditions__cont conditions__cont--junior">
                                           
                                           <div class="conditionsBox">
                                                <div class="conditionsBox__main">
                                                     <div class="conditionsBox__arrows"><span></span></div> 
                                                     
                                                     <div class="schedule">
                                                          <svg viewBox="0 0 100 100"><circle r="25" cx="50" cy="50" value="20" /></svg>
                                                          <div class="schedule__cont">
                                                               <span>40/60%</span>
                                                          </div>
                                                     </div>
    
                                                     <div class="conditionsBox__price"><b>1300</b><span class="rub">7</span></div> 
                                                </div>
                                                <div class="conditionsBox__info">
                                                     <span class="conditionsBox__text">Система рассрочки позволяет вам начать...</span>
                                                     <a href="javascript:void(0)">Показать еще</a>
                                                </div>
                                                <div class="conditionsBox__button">
                                                     <span class="btn btn-conditions">Выбрать</span>
                                                </div>
                                           </div>
                                           
                                      </div>
                                      
                                      
                                      <div class="conditions__cont conditions__cont--popular active">

                                           <div class="conditionsBox">
                                                <div class="conditionsBox__main">
                                                     <div class="conditionsBox__arrows"><span></span></div> 
                                                     
                                                     <div class="schedule">
                                                          <svg viewBox="0 0 100 100"><circle r="25" cx="50" cy="50" value="100" /></svg>
                                                          <div class="schedule__cont">
                                                               <span>100%<b>предоплата</b></span>
                                                          </div>
                                                     </div>
                                                     
                                                     <div class="conditionsBox__price"><b>1200</b><span class="rub">7</span></div> 
                                                     <span class="conditionsBox__volume">за 1 л</span>
                                                </div>
                                                <div class="conditionsBox__info">
                                                     <span class="conditionsBox__text">Система рассрочки позволяет вам начать...</span>
                                                     <a href="javascript:void(0)">Показать еще</a>
                                                </div>
                                                <div class="conditionsBox__button">
                                                     <span class="btn btn-conditions">Выбрать</span>
                                                </div>
                                           </div>

                                      </div>
                                      
                                      <div class="conditions__cont conditions__cont--average">

                                           <div class="conditionsBox">
                                                <div class="conditionsBox__main">
                                                     <div class="conditionsBox__arrows"><span></span></div> 
                                                     
                                                     <div class="schedule">
                                                          <svg viewBox="0 0 100 100"><circle r="25" cx="50" cy="50" value="35" /></svg>
                                                          <div class="schedule__cont">
                                                               <span>30/70%</span>
                                                          </div>
                                                     </div>
                                                     
                                                     <div class="conditionsBox__price"><b>1400</b><span class="rub">7</span></div> 
                                                </div>
                                                <div class="conditionsBox__info">
                                                     <span class="conditionsBox__text">Система рассрочки позволяет вам начать...</span>
                                                     <a href="javascript:void(0)">Показать еще</a>
                                                </div>
                                                <div class="conditionsBox__button">
                                                     <span class="btn btn-conditions">Выбрать</span>
                                                </div>
                                           </div>

                                      </div>

                                 </div>
                                 <!-- END .conditions -->
                                 
                                 
                            </div>
                            
                            <div class="modal-step__box">

                                 <div class="stepTitle"><b>2</b><span>Выберите объём:</span></div>

                                 <span class="modal-step__volumeInfo">1 уп.= 2,5 л</span>
                                
                                 
                                 <div class="vueSliderBlock">
                                     
                                      <div class="vueSlider">
                                           <vue-slider v-model="value"></vue-slider>
                                           <span class="vueSlider__from">{{min}} л</span>
                                           <span class="vueSlider__before">{{max}} л</span>
                                           <input class="vueSlider__input" type="text" :value="value" />
                                      </div>
                                      
                                 </div>
                                 
                              
                                 
                                 <!--
                                 <div id="app">
                                      <vue-slider v-model="value" v-bind="options"></vue-slider>
                                      
                                 </div>
                                 -->
                        
                                 
                            </div>
                            
                            <div class="modal-step__box">

                                 <div class="stepTitle"><b>3</b><span>Добавьте в корзину:</span></div>
                                 
                                 <ul class="modal-priceList">
                                      <li><b>Выбранная цена:</b> 1200 <span class="rub">7</span> (Предоплата 100%)</li>
                                      <li><b>Выбранный объём:</b> 90 л (36 уп.)</li>
                                 </ul>
                                 
                                 <ul class="modal-priceButton">
                                      <li>
                                           <div class="input-group">
                                                <input type="text" class="form-control" value="1 300 870.00">
                                                <span class="input-group-addon input-rub">$</span>
                                           </div>
                                      </li>
                                      <li>
                                           <button class="btn btn-cartAdd">В корзину</button>
                                      </li>
                                 </ul>

                            </div>
                       
                       </div>

                  </div>

             </div>

        </div>

   </div>    
   <!-- END .modal -->    
   
   
   
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.min.js"></script>
   <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
   

   
   <!--
     <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
     <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
   
    <script>
        
         new Vue( {
              el: '#app',
              data: {
                   value: 20,
                   width: "auto",
                   height: 30,
                   direction: "horizontal", 
                   dotSize: 16,
                   eventType: "auto", 
                   min: 0,
                   max: 100,
                   interval: 1,
                   disabled: false,
                   show: true,
                   realTime: false, 
                   tooltip: "always", 
                   clickable: true,
                   tooltipDir: "top",
                   piecewise: false, 
                   lazy: false,
                   reverse: false, 
                   speed: 0.5,
                   formatter: null, 
                   bgStyle: null,
                   sliderStyle: null, 
                   tooltipStyle: null, 
                   processStyle: null, 
                   piecewiseStyle: null 
                   
              },
              components: {
                   'vueSlider': window['vue-slider-component']
              }
         })
    </script>
    -->
    
    
   <script type="text/javascript" src="js/jquery.min.js"></script>        
   <script type="text/javascript" src="js/libs.min.js"></script>        
   <script type="text/javascript" src="js/main.js"></script>



</body>
</html>
     
     
     
     
     
     
     
     
     